nav {
  nav:hover {
    cursor: pointer;
  }
  background-color: #2962FF;
  .nav-wrapper {

    .brand-logo {
      padding-left: 20px;
      cursor: pointer;
    }
    ul {
      li {
        height: 64px;
        a {
          height: inherit;
          font-size: 24px;

          .profile-pic-holder {
            display: inline-block;
            height: 64px;

            .profile-pic {
              height: 100%;
            }
          }
          i {
            padding-left: 16px;
            margin-right: 16px;
          }
        }

          .name-wrapper {
            position: relative;
            display: inline-block;
            top: -10px;
          }

        }
      }
    }
  }
