  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Get Unfat</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="loginService.isLoggedIn()">{{loginService.getCurrentUser().name}}</li>
        <li><a (click)="onGoToDashboard()"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
        <li><a (click)="onGoToPlan()"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></li>
        <li><a (click)="signOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </nav>
