<!-- Modal Structure -->
<div id="signin-modal" class="modal s12 m5 ">
  <div class="modal-content">
    <h4>Sign In</h4>
    <button (click)="onGoogleLogin()" class="btn waves-effect waves-light lighten-1 modal-close red"><i class="fa fa-google left"></i>Sign in with Google</button>
    <br />
    <button (click)="onGithubLogin()" class="btn waves-effect grey lighten-3 modal-close black-text"><i class="fa fa-github left black-text"></i> Sign in with Github</button>
    <br />
    <button (click)="onFacebookLogin()" class="btn waves-effect blue modal-close darken-1"><i class="fa fa-facebook-square left"></i>Sign in with Facebook</button>
  </div>

  <div class="modal-footer">
    <a class=" modal-action modal-close btn-flat">Cancel</a>
  </div>

</div>