<div class="lander">
    <div class="container">
        <h1>Git Fit</h1>
        <h4>A revolutionary way to workout</h4>

        <button (click)="onGoogleSignup()" class="btn waves-effect waves-light lighten-1 modal-close red"><i class="fa fa-google left"></i>Sign up with Google</button>
        <br />
        <button (click)="onGithubSignup()" class="btn waves-effect grey lighten-3 modal-close black-text"><i class="fa fa-github left black-text"></i> Sign up with Github</button>
        <br />
        <button (click)="onFacebookSignup()" class="btn waves-effect blue modal-close darken-1"><i class="fa fa-facebook-square left"></i>Sign up with Facebook</button>
        <p><a materialize="leanModal" [materializeParams]="[{dismissible: true}]" (click)="onSignIn()" href="#signin-modal" class="white-text">Already a member? Click Here!</a></p>

    </div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Generated workout plans</h5>

                    <p class="light">Automatically build workouts for a given day, and keep track of what exercises you
                        have completed. We make sure that you have a workout plan tailored to your needs.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Personal statistics</h5>

                    <p class="light">View statistics on your workout progress regardless of your goal. See your progress
                        in an easy to read format.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Customize your plan</h5>

                    <p class="light">Change your plan to match your needs. If you don't have a piece of workout
                        equipment or don't like a workout plan, you can easily remove that workout and substitute it
                        with a more suitable workout.</p>
                </div>
            </div>
        </div>
    </div>
</div>

