<div class="lander">
    <div class="container">
        <h1>Git Fit</h1>
        <h4>A revolutionary way to workout</h4>
        <button (click)="onGoogleLogin()" class="btn waves-effect waves-light lighten-1 red"><i class="fa fa-google"></i>Sign in with Google</button>
        <!--<br />-->
        <button (click)="onFacebookLogin()" class="btn waves-effect grey lighten-3 black-text"><i class="fa fa-github black-text"></i> Sign in with Github</button>
        <!--<br />-->
        <button (click)="onGithubLogin()" class="btn waves-effect blue darken-1"><i class="fa fa-facebook-square"></i>Sign in with Facebook</button>
    </div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Generated workout plans</h5>

                    <p class="light">Automatically build workouts for a given day, and keep track of what exercises you
                        have completed. We make sure that you have a workout plan tailored to your needs.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Personal statistics</h5>

                    <p class="light">View statistics on your workout progress regardless of your goal. See your progress
                        in an easy to read format.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Customize your plan</h5>

                    <p class="light">Change your plan to match your needs. If you don't have a piece of workout
                        equipment or don't like a workout plan, you can easily remove that workout and substitute it
                        with a more suitable workout.</p>
                </div>
            </div>
        </div>
    </div>
</div>

