<h3>Exercise</h3>
<div style="padding-left:30px; border: 2px solid black">
  <button (click)="testExercise()">Test Exercise</button>
  <button (click)="testExercises()">Test Exercises</button>
  <button (click)="testAllExercises()">Test All Exercises</button>
  <p *ngIf="exercise">{{exercise.name}}</p>
  <ul>
    <li *ngFor="let e of exercises">
      {{e.name}}
    </li>
  </ul>
</div>
<h3>Assignment</h3>
<div style="padding-left:30px; border: 2px solid black">
  <button (click)="testAssignment()">Test Assignment</button>
  <button (click)="testAssignments()">Test Assignments</button>
  <button (click)="testAllAssignments()">Test All Assignments</button>
  <p *ngIf="assignment">{{assignment.$key}}</p>
  <ul>
    <li *ngFor="let e of assignments">
      {{e.$key}}
    </li>
  </ul>
</div>
<week-plan-card></week-plan-card>
