<div class="col s12 m4">
    <div class="card">
        <div class="card-content">
            <div class="exercise-type-image">
                <img src="{{assignment.exercise.typeUrl}}">
            </div>
            <div class="exercise-top-level">
                <div class="card-title">
                    {{assignment.exercise.name}}
                </div>
                <div class="card-subtitle">{{assignment.exercise.type}}</div>
            </div>

            <i class="fa fa-cog right exercise-settings"></i>

        </div>
        <iframe width="100%" height="315" src="{{assignment.exercise.videoUrl}}" frameborder="0"
                allowfullscreen></iframe>
        <div class="card-content">
            <span>{{assignment.sets}} sets / {{assignment.repetitions}} reps</span>
            <span class="right">{{assignment.weight}} lbs</span>
        </div>
        <div class="card-action">
            <i (click)="favoriteExercise()" class="fa fa-star favorite-exercise"></i>
            <i (click)="completeSet()" [ngClass]="assignment.completed ? 'green-text' : ''" class="fa fa-check right complete-set"></i>
        </div>
    </div>
</div>
