<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Who We Are</h5>
        <p class="grey-text text-lighten-4">Team Hairforce is a group of Rose-Hulman engineers with a passion for computer science, UX / UI design, and hack-a-thon projects.
        We love to explore new technology and stretch the limits of what is possible with technology. Find out more about us!</p>


      </div>

      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/Healbadbad">Nathan Blank</a></li>
          <li><a class="white-text" href="https://github.com/Maast3r">Andrew Ma</a></li>
          <li><a class="white-text" href="https://github.com/baseballlover723">Philip Ross</a></li>
          <li><a class="white-text" href="https://github.com/chinchalupa">Jeremy Wright</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>