<div class="link-buttons center-align" style="margin: 10vh">
    <h1>Link Accounts</h1>
    <button (click)="linkGoogle()" class="btn waves-effect waves-light lighten-1 red"><i class="fa fa-google"></i>Link
        with Google
    </button>
    <br />
    <button (click)="linkGithub()" class="btn waves-effect grey lighten-3 black-text"><i
            class="fa fa-github black-text"></i>Link with Github
    </button>
    <br />
    <button (click)="linkFacebook()" class="btn waves-effect blue darken-1"><i class="fa fa-facebook-square"></i>Link
        with Facebook
    </button>
</div>


