.daily-plan-card .material-icons {
  margin-top: 2px;
  font-size: 24px; }

.daily-plan-card .fa-plus {
  font-size: 28px; }

.daily-plan-card .fa-play {
  font-size: 24px; }

.daily-plan-card .fa-ellipsis-v {
  font-size: 24px; }

.daily-plan-card #iconWrapper {
  width: 100px;
  float: right;
  display: inline-block;
  height: 24px; }

.daily-plan-card .iconasdf {
  display: inline-block;
  width: 30%;
  height: 100%; }
