.daily-plan-card {
	color: white;
	background-color: #448AFF;

	.card-title {
		line-height: 0;
	}

	.card {
		background-color: #448AFF;

		.card-action {
			border-top: 1px solid rgba(255, 255, 255, 0.4);
		}
	}



	.material-icons {
		margin-top: 2px;
		font-size: 24px;
	}

	.icon:hover {
		cursor: pointer;
		opacity: 1;
	}

	.fa-plus {
		font-size: 28px;
	}

	.fa-play {
		font-size: 24px;
	}

	.fa-ellipsis-v {
		color: white;
		font-size: 24px;
	}

	#iconWrapper {
		float: right;
		display: inline-block;
		height: 24px;
	}

	#iconWrapper:hover {
		cursor: pointer;
	}

	.icon {
		padding-left: 16px;
		padding-right: 16px;
		display: inline-block;
		//width: 30%;
		//height: 100%;
		//color: white;
		//opacity: 0.6;
	}
}
