<div class="row daily-plan-card">
  <div class="col s9 push-s1">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Day 1</span>
        <div id='iconWrapper'>
	        <div class='icon' (click)="startSession()"><i class="fa fa-play" aria-hidden="true"></i>
          </div>
	        <!-- <div class='icon'><i id ="plus-icon" class="fa fa-plus material-icons" aria-hidden="true"></i>
          </div> -->
	        <div class='icon dropdown-button' data-activates='day-settings'><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </div>
          <ul id='day-settings' class='dropdown-content'>
            <li><a href="#!">Mark as complete</a></li>
          </ul>
	       </div>
      </div>
      <div class="card-action row" >
        <exercise-tile (click)="startExercise(e)" *ngFor="let e of exercises" [exercise]="e" ></exercise-tile>
      </div>
    </div>
  </div>
</div>
