.daily-plan-card {
	width: 80%;

	.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
		margin: 0;
	}

	.material-icons {
		margin-top: 2px;
		font-size: 24px;
	}

	.fa-plus {
		font-size: 28px;
	}

	.fa-play {
		font-size: 24px;
	}

	.fa-ellipsis-v {
		font-size: 24px;
	}

	#iconWrapper {
		width: 100px;
		float: right;
		display: inline-block;
		height: 24px;
	}

	.iconasdf {
		display: inline-block;
		width: 30%;
		height: 100%;
	}
}
